#destination_cards, .resorts_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

 .card {
    height: 550px;
    width: 30%;
    box-shadow: 2px 0px 20px 6px rgba(0, 0, 0, 0.356);
    border-radius: 20px;
    max-width: 500px;
    min-width: 375px;
    margin: 20px 0px;
    transition: transform .2s;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.card >.card_heading {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 0px ;
}

.card >.card_info {
    padding: 0px 5px;
}
.card >.see_details{
    position:relative;
    right: 0px;
    bottom: 0px;
    text-align: right;
    padding: 0px 5px;
}
.card >.see_details a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}
.card  > .see_details a:hover{
    text-decoration: underline;
    padding: 0px 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
