/*-----Home Section----- */
html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.sign-up-btn-wrapper{
    display: none;
}
#home::before {
    content: "";
    position: absolute;
    background: url("../assets/bg2.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 10% 10px;
    height: 75vh;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
}
.large{
    font-size: 5em;
}
.bold{
    font-weight: bolder;
}

 #searchbox i{
    position: absolute;
    color: black;
    font-size: 2em;
    padding: 25px;
    z-index: 3;
}
#searchbox input {
    position: relative;
    display: inline;
    border-radius: 40px;
    width: 40rem;
    height: 4em;
    text-align: left;
    padding: 0px 90px;
    font-size: 20px;
    z-index: 2;
}
#searchbox input::placeholder{
    position: relative;
    opacity: 0.5;
}


#search-results{
    position: relative;
    border: 1px solid black;
    top: -10px;
    left: 10px;
    height: fit-content;
    z-index: 0;
    display: flex;
    display: none;
    flex-direction: column;
    background-color: white;
    width: 50rem;
    border-radius: 0px 0px 40px 40px;
    align-items: center;

}
.search-result-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    height: 50px;
    color: rebeccapurple;
}
.search-result-div:hover{
    background-color: rgb(225, 225, 225);
    border-radius: 0px;
    cursor: pointer;
}
.search-result-div:last-child:hover{
    border-radius: 0px 0px 40px 40px;
}

.no-hover:hover{
    background-color: white;
}

.btn{
    font-size: 1.1rem;
    display: block;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border-radius: 7px;
    margin: auto;
    margin-top: 0px;
    transition: transform 0.2s;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.no-border{
    border-radius: 0px;
}