/*-----Home Section----- */
html{
    scroll-behavior: smooth;
}
#home::before {
    content: "";
    position: absolute;
    background: url("../assets/bg2.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 10% 10px;
    height: 75vh;
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
}
.large{
    font-size: 5em;
}
.bold{
    font-weight: bolder;
}

 #searchbox i{
    position: absolute;
    color: black;
    font-size: 2em;
    padding: 25px;
}
#searchbox input {
    display: inline;
    border-radius: 40px;
    width: 30em;
    height: 4em;
    text-align: left;
    padding: 0px 90px;
    font-size: 20px;
}
#searchbox input::placeholder{
    opacity: 0.5;
}
.btn{
    font-size: 1.1rem;
    display: block;
    /* position: absolute; */
    /* right: 45vb; */
    padding: 10px 30px;
    background-color: rgb(255, 116, 116);
    border-radius: 7px;
    margin: auto;
    margin-top: 0px;
    transition: transform 0.2s;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.no-border{
    border-radius: 0px;
}